apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: platform

resources:
  - ../../base
  - namespace.yaml
  - aws-secrets-manager.yaml
  - secret-sync-job.yaml

commonLabels:
  tenant: platform
  environment: dev
  app.kubernetes.io/managed-by: flux

images:
  - name: task-management-backend
    newName: 821368347884.dkr.ecr.us-east-1.amazonaws.com/saas-infra-lab-dev-backend
    newTag: latest
  - name: task-management-frontend
    newName: 821368347884.dkr.ecr.us-east-1.amazonaws.com/saas-infra-lab-dev-frontend
    newTag: latest

patches:
  - patch: |-
      - op: add
        path: /spec/template/metadata/labels/tenant
        value: platform
    target:
      kind: Deployment
      name: backend
  - patch: |-
      - op: add
        path: /spec/template/metadata/labels/tenant
        value: platform
    target:
      kind: Deployment
      name: frontend
  - patch: |-
      - op: add
        path: /metadata/labels/tenant
        value: platform
    target:
      kind: Service
      name: backend-service
  - patch: |-
      - op: add
        path: /metadata/labels/tenant
        value: platform
    target:
      kind: Service
      name: frontend-service
  - patch: |-
      - op: replace
        path: /spec/selector/tenant
        value: platform
    target:
      kind: Service
      name: backend-service
  - patch: |-
      - op: replace
        path: /spec/selector/tenant
        value: platform
    target:
      kind: Service
      name: frontend-service

