# Updated: 2025-12-11T10:46:33Z
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: platform
resources:
  - ../../base
  - namespace.yaml
  # Temporarily commented out until Secrets Store CSI Driver CRDs are installed
  # - aws-secrets-manager.yaml
  # - secret-sync-job.yaml
commonLabels:
  tenant: platform
  environment: dev
  app.kubernetes.io/managed-by: argocd
images:
  - name: task-management-backend
    newName: 240623017727.dkr.ecr.us-east-1.amazonaws.com/saas-infra-lab-dev-backend
    newTag: sha-4e9eaae
  - name: task-management-frontend
    newName: 240623017727.dkr.ecr.us-east-1.amazonaws.com/saas-infra-lab-dev-frontend
    newTag: sha-4e9eaae
patches:
  - patch: |-
      - op: add
        path: /spec/template/metadata/labels/tenant
        value: platform
      - op: add
        path: /spec/selector/matchLabels/tenant
        value: platform
    target:
      kind: Deployment
      name: backend
  - patch: |-
      - op: add
        path: /spec/template/metadata/labels/tenant
        value: platform
      - op: add
        path: /spec/selector/matchLabels/tenant
        value: platform
    target:
      kind: Deployment
      name: frontend
  - patch: |-
      - op: add
        path: /metadata/labels/tenant
        value: platform
    target:
      kind: Service
      name: backend-service
  - patch: |-
      - op: add
        path: /metadata/labels/tenant
        value: platform
    target:
      kind: Service
      name: frontend-service
  - patch: |-
      - op: replace
        path: /spec/selector/tenant
        value: platform
    target:
      kind: Service
      name: backend-service
  - patch: |-
      - op: replace
        path: /spec/selector/tenant
        value: platform
    target:
      kind: Service
      name: frontend-service
