apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - backend-deployment.yaml
  - frontend-deployment.yaml
  - init-db-job.yaml
commonLabels:
  app.kubernetes.io/managed-by: argocd
  app.kubernetes.io/part-of: sample-saas-app

images:
  - name: task-management-backend
    newName: PLACEHOLDER_ECR_BACKEND_URL
    newTag: latest
  - name: task-management-frontend
    newName: PLACEHOLDER_ECR_FRONTEND_URL
    newTag: latest
