apiVersion: v1
kind: Service
metadata:
  name: main-service
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
  selector:
    app: sample-app
    version: blue  # Default to blue

